{
    "@type": "MessageCard",
    "@context": "https://schema.org/extensions",
    "text": "Notification Type: {{ NOTIFICATIONTYPE }}\n\nService: {{ SERVICEDESC }}\n\nHost: {{ HOSTALIAS }}\n\nAddress: {{ HOSTADDRESS }}\n\nState: {{ SERVICESTATE }}\n\nService check output:\n\n{{ SERVICEOUTPUT }}\n\n**NCONF Note:** {{ HOSTNOTES }}\n\n**{{NOTIFICATIONAUTHOR}} Comment:** {{ NOTIFICATIONCOMMENT }} ",
    "summary": "Service notice",
    "title": "SERVICE notification"
}